<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Page Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
    <!-- Link your CSS file here -->
    <link rel="stylesheet" href="css/score.css"> <!-- Replace "styles.css" with your actual CSS file name -->
</head>
<body>
    <div class="container">
        <div class="flex-center">
            <h1>SCORE -> <%= current_score %></h1>
            <h1 class="highscore-heading">HIGHSCORE -> <%= highest %></h1>
            <div  class="flex-container">
            <form class="item" action="/" method="get">
                <button type="submit" name="list">HOME</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
