<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&amp;family=Bellefair&amp;family=Barlow:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="/css/chandrayangallery.css">
    
</head>
<body>

    <header>
        <h1>Image Gallery</h1>
    </header>

    <div class="gallery">
        <img src="/css/images/P12_medium.jpg.webp" alt="Kitten 1">
        <img src="/css/images/P13_medium.jpg.webp" alt="Kitten 1">
        <img src="/css/images/P15_medium.jpg.webp" alt="Kitten 1">      
        <img src="/css/images/P20_medium.jpg.webp" alt="Kitten 2">
        <img src="/css/images/Ch3_lander_Right.jpg" alt="Kitten 1">
        <img src="/css/images/R_img2.png.webp" alt="Kitten 1">
         <img src="/css/images/Rover_first_movement_with_Indian_emblem_and_flag.webp" alt="Kitten 9">
         <img src="/css/images/LI1_mode_00_Frame_001_insta.png.webp" alt="Kitten ">
        <img src="/css/images/A31I2226.JPG.webp" alt="Kitten 1">
        <img src="/css/images/P17_medium.jpg.webp" alt="Kitten 1">
        <img src="/css/images/P3_medium.jpg.webp" alt="Kitten 1">
        <img src="/css/images/P6_medium.jpg.webp" alt="Kitten 1">
        <img src="/css/images/MRM_4847.JPG.webp" alt="Kitten 1">
        <img src="/css/images/R_img1.jpeg.webp" alt="Kitten 1">
        <img src="/css/images/ch3_3.jpg.webp" alt="Kitten 1">
        <img src="/css/images/hoprampimg1.png.webp" alt="Kitten 1">
       
        
        <!-- Add more images as needed -->
    </div>

</body>
</html>
