<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/events.css">
    <title>Your Page Title</title>
</head>
<body>
    <button id="upcoming" onclick="location.href='events/upcoming'">
        <img src="css/images/upcoming.png">
      </button>
      
      <button id="past" onclick="location.href='events/previous'">
        <img src="css/images/past.png">
      </button>
            
    

</body>
</html>
