<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&amp;family=Bellefair&amp;family=Barlow:wght@400;700&amp;display=swap" rel="stylesheet">
    <!-- Our custom css  -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <title>Planet Pixels | Space tourism website</title>
    <script src="javascript/navigation.js" defer=""></script>
  </head>

  <body >
    <div class="home">
      <a class="skip-to-content" href="#main">Skin to content</a>
        
      <header class="primary-header flex">
        <div>
          <img src="css/images/logo(1).png" alt="space tourism logo" class="logo" style="width:70px">
        </div>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only" aria-expanded="false">Menu</span></button>
        <nav>
            <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
                <!-- <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="index.html"><span aria-hidden="true">00</span>Home</a> </li>-->
                <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/destination"><span aria-hidden="true">01</span>Space</a></li>
                <li class="dropdown"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="#" class="dropbtn"><span aria-hidden="true">02</span>Interactives</a><div class="dropdown-content">
                  <a href="/search">Spacepedia</a>
                  <a href="/astroverse">Astroverse</a>
                  <a href="/news">News & updates</a>
                  
                  <!-- <a href="#">Link 3</a> -->
                </div> </li>
              <li class="dropdown"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="technology.html"><span aria-hidden="true">03</span>RESOURCES</a>  <div class="dropdown-content">
                <!-- <a href="/spacepedia">Spacepedia</a> -->
                <a href="/marsrover">Mars Rover</a>
                <a href="/chandrayan">Chandrayan</a>
                <a href="/iss">ISS</a>
              </div> </li>
                
                <% if(user!=null){ %>
                  <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/logout"><span aria-hidden="true">04</span>Logout</a></li>
                <% } else{ %>  
                  <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/signup"><span aria-hidden="true">04</span>Register</a></li>
                <% } %>

            </li></ul>
        </nav>
      </header>
    
  
      <main style="margin-top: 40px;" id="main" class="grid-container grid-container--home">
        <div>
          <h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">
            PORTAL TO UNIVERSE
            <span class="d-block fs-900 ff-serif text-white " style="font-size:80px;">PLANET PIXELS</span>
          </h1>
          <p>Let’s face it; if you want to go to space, you might as well genuinely go to 
          outer space and not hover kind of on the edge of it. Well sit back, and relax 
          because we’ll give you a truly out of this world experience! </p>
        </div>
        <div>
          <a href="/destination" class="large-button uppercase ff-serif  text-dark bg-white">Explore</a>
        </div>
      </main>
    

      <section id="second">
        <main>
          <div class="quiz"style=" ">
            <button class="bordered-button d-block fs-900 ff-serif text-whites"style="background: linear-gradient(45deg, #0A1322, #2980b9); border: 1px solid white" ><a href="/signin" style="text-decoration: none;color: white;">Take Quiz!</a></button>
          </div>
          <p style="text-align: center; font-size: larger; margin-bottom: 55px; text-decoration: underline;">It is far better to grasp the universe as it really is than to persist in delusion, however satisfying and reassuring.</p>
       
         
            <div class="video-box">
              <div class="video-container">
               
<video width="560" height="315" controls poster="css/images/video_thumbnail.png" >
  <source src="css/images/video.mp4" type="video/mp4">
 
  Your browser does not support the video tag.
</video>

              </div>
            </div>
          
        </main>
      </section>



      <div id="content">
        <section class="updates">
          <h2 class = "text-accent fs-500 ff-sans-cond uppercase letter-spacing-2">Universe that keeps you updated!</h2>
          <a href="">
            <p class="sub">"Explore the mysteries of the cosmos with our space-related updates. From the latest in planetary exploration to the farthest reaches of the universe, our updates deliver a window to the heavens. Whether it's cutting-edge discoveries, thrilling space missions, or breathtaking images of distant galaxies, we're your portal to the wonders of the cosmos. Join us on a journey through the stars and beyond as we keep you informed about the ever-evolving frontier of space exploration and the boundless beauty of the universe."</p>
          </a>
          <!-- <button class="bordered-button" style="font-size: 25px; width: auto; height: auto; padding: 10px; font-style: normal; border-radius: 0%; " >Sign Up<i class="fas fa-arrow-circle-right"></i>
          </button> -->
        </section>
        <aside>
          <section class="Section_top">
            <div class="content"></div>
          </section> 
        </aside>
      </div>

    </div>


<!-- <footer role='contentinfo'>
  <h2 class='sr-only'>Footer</h2>
  <p style="margin-bottom: 30px;background-color: #073203; color: #fff;text-align: center; padding: 10px; font-weight: bold; font-style: italic;">&copy;&nbsp; &nbsp;PLANET PIXELS</p>
  <nav aria-labelledby='secondary-navigation' class='container footer-links hide-for-pwa' role='navigation'>
  <h3 id="secondary-navigation" class="sr-only">Secondary Navigation</h3>
  <ul aria-labelledby="secondary-navigation" role="list" class="horizontal"><li type="none"><a class="&lt;span class=&quot;translation_missing&quot; en.footer.section_1.link_1.classes&quot;&gt;Classes&lt;/span&gt; missing: title=&quot;translation" href="/support/message/new">Contact Us</a></li>
  <li type="none"><a class="&lt;span class=&quot;translation_missing&quot; en.footer.section_1.link_2.classes&quot;&gt;Classes&lt;/span&gt; missing: title=&quot;translation" href="/support/terms_and_conditions">Terms & Conditions</a></li>
  <li type="none"><a class="&lt;span class=&quot;translation_missing&quot; en.footer.section_1.link_3.classes&quot;&gt;Classes&lt;/span&gt; missing: title=&quot;translation" href="/sitemap">Site Map</a></li>
  </ul></nav>
  
  <div class='disclaimer'>
  <h3 id="disclaimer_heading" class="sr-only">Disclaimer</h3>
  <p>
  ViewSpace video content contains copyrighted material and should not be downloaded or used outside of this website.
  </p>
  <p>
  This product is based upon work supported by NASA under award numbers NNX16AC65A and NNX15AB26G and contracts NAS5-26555 and NAS5-03127. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Aeronautics and Space Administration.
  </p>
  </div>
  
  </footer> -->
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
  </body>
</html>