<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Webpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&amp;family=Bellefair&amp;family=Barlow:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="css/resources.css">
  
</head>
<body>

    <header>
        <h1>International Space Station (ISS)</h1>
    </header>

    <section>
        <img src="css/images/iss.png" alt="Chandrayan-3 Image">
        <p>The International Space Station (ISS) is the largest modular space station in low Earth orbit. The project involves five space agencies: the United States' NASA, Russia's Roscosmos, Japan's JAXA, Europe's ESA, and Canada's CSA.The ownership and use of the space station is established by intergovernmental treaties and agreements.The station serves as a microgravity and space environment research laboratory in which scientific research is conducted in astrobiology, astronomy, meteorology, physics, and other fields.The ISS is suited for testing the spacecraft systems and equipment required for possible future long-duration missions to the Moon and Mars.
            <br><br>
          <u> The Purpose of ISS is:</u><br><br>
            The ISS was originally intended to be a laboratory, observatory, and factory while providing transportation, maintenance, and a low Earth orbit staging base for possible future missions to the Moon, Mars, and asteroids. However, not all of the uses envisioned in the initial memorandum of understanding between NASA and Roscosmos have been realised.In the 2010 United States National Space Policy, the ISS was given additional roles of serving commercial, diplomatic,and educational purposes.<br><br>
<!-- <div class="button-container"> -->
    <!-- Real Time Images Button -->
    <button class="real-time-button" onclick="loadRealTimeImages()"><a href="/iss/gallery" style="color: white;">GALLERY</a></button>
<!-- </div> -->
        </p>
       
    </section>
</body>
</html>
