<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chandrayan-3 Webpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&amp;family=Bellefair&amp;family=Barlow:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="css/resources.css">
  
</head>
<body>

    <header>
        <h1>Mars Rover</h1>
    </header>

    <section>
        <img src="css/images/marsrover.png" alt="Chandrayan-3 Image">
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif">A Mars rover is a remote-controlled motor vehicle designed to travel on the surface of Mars. Rovers have several advantages over stationary landers: they examine more territory, they can be directed to interesting features, they can place themselves in sunny positions to weather winter months, and they can advance the knowledge of how to perform very remote robotic vehicle control. They serve a different purpose than orbital spacecraft like Mars Reconnaissance Orbiter. A more recent development is the Mars helicopter.
            <br><br>
            As of May 2021, there have been six successful robotically operated Mars rovers; the first five, managed by the American NASA Jet Propulsion Laboratory, were (by date of Mars landing): Sojourner (1997), Spirit (2004–2010), Opportunity (2004–2018), Curiosity (2012–present), and Perseverance (2021–present). The sixth, managed by the China National Space Administration,is Zhurong (2021–2022)<br><br>
           
    <!-- Real Time Images Button -->
    <button class="real-time-button" onclick="loadRealTimeImages()"><u><a href="/gallery/marsrover">GALLERY</a></u></button>
<!-- </div> -->
        </p>
       
    </section>

</body>
</html>
