<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Your Page Title</title>
</head>
<body>
    <button id="launched" onclick="location.href='/launches/previous'">
        <img id = "launch" src="css/images/launched.png">
      </button>
      
      <button id="upcoming" onclick="location.href='/launches/upcoming'">
        <img src="css/images/upcoming.png">
      </button>
            
    

</body>
</html>
