<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Form</title>
  <link rel="stylesheet" href="/css/search.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div class="stars-animation"></div>
  <div class="search-container">
    <form action="/search" method="post" class="search-form">
      <input type="text" id="searchQuery" name="searchQuery" required placeholder="Search...">
      <button type="submit"><i class="fas fa-search search-icon"></i></button>
    </form>
  </div>
</body>
</html>