<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/buttons.css">
    <title>Your Page Title</title>
</head>
<body>
    <button id="astro" onclick="location.href='/astronauts'">
        <img src="css/images/astro.png">
      </button>
      
      <button id="events" onclick="location.href='/events'">
        <img src="css/images/events.png">
      </button>

      <button id="rockets" onclick="location.href='/rockets'">
        <img src="css/images/rockets.png">
      </button>
            
    

</body>
</html>
