<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANALYSE YOUR JOURNEY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/start.css">
   
</head>
<body>
    <div id="canvas_container"></div>

    <!-- <div class="container"> -->
        <div id="home" class="flex-center flex-column">
            <h1 class="title">ANALYSE &nbsp; YOUR &nbsp; JOURNEY</h1>
            <form action="/quiz" method="get">
                <button class="my-super-cool-btn">
                    PLAY
                    <!-- <span class="icon-right"></span> -->
                </button>
            </form>
        <!-- </div> -->
    </div>
    <!-- <script src="js/start.js" defer></script> -->
</body>
</html>
