:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem,9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    width:100%;
  height:100%;
  background-size: cover;
  /* background-position: bottom center; */
  background-image: url(images/destination/background-destination-desktop.jpg);
}

header {
    color: #fbf6f6;
    text-align: center;
    /* padding: 10px; */
    top:0%;
    text-decoration: underline;
    font-size: 27px;
    font-family: 'Pacifico', cursive;
    position: relative;
    animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
}

img {
    /* height: 20%; */
    width:30%;
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    
}

p{
    font-size: 110%;
    max-width: 600px;
    color: white;
}

@media (max-width: 668px) {
    section {
        flex-direction: column;
        text-align: center;
    }

    img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 70%;
    }
}
.real-time-button {
    background: linear-gradient(to right, #0a2030, #2980b9);
    color: #fff;
    padding: 20px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.real-time-button:hover {
    box-shadow: 0 0 20px rgba(175, 165, 165, 0.6);
    transform: scale(1.05);
}