/* Reset some default styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items to the center vertically */
    background-image: url('images/score_bg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    padding-left: 50%; 
    font-size: 3vw;
     /* Adjust right padding for space */
}

.container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items to the center vertically */
    height: 100%;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center; /* Align items to the right */
    align-items: flex-start; /* Align items to the bottom */
    flex-direction: column;
    text-align: right; /* Align text to the right */
    max-width: 80%; /* Adjust max-width for responsiveness */
    margin: auto; /* Center content within its container */
}



.flex-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items to the center vertically */
    /* Other styles for the container if needed */
}


h1 {
    margin-left: 10px;
    margin-bottom: 10px; /* Adjust margin between headings */
    color: #fff; /* Adjust text color */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    font-size: 3.5vw; 
}



button {
    /* Styles for the 'HOME' button */
    width: 150%; /* Increased button width */
    height: 30%; /* Increased button height */
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
    padding-right: 15%;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 2.5vw; /* Increased font size */
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgb(5, 0, 46);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0 rgb(255, 255, 255), -5px -5px 0 rgb(255, 255, 255), -5px 5px 0 rgb(255, 255, 255), 5px -5px 0 rgb(255, 255, 255);
    transition: 500ms ease-in-out;
    margin-top: 20px;
    margin-left: 150%;  /* Increased space between headings and button */
    z-index: 2;
    overflow: hidden;
    position: relative;
}
button:hover {
    box-shadow: 20px 5px 0 rgb(255, 255, 255), -20px -5px 0 rgb(255, 255, 255);
}

button:focus {
    outline: none;
}

/* Rest of the button styles remain the same */

/* Animation keyframes remain the same */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
