*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('images/start_page.jpg');  */
    background-image: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5vw; /* Responsive font size */
    margin-bottom: 20px;
    color: #dbd7d7;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 2px solid rgba(255, 255, 255, 0.75); */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    animation: slide-in 4s ease-out infinite; /* Animation for the title */
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}
button {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
    background: #202020; /* Black background */
    color: white;
    outline: none;
    border: none;
    height: 10vw; /* Responsive height */
    width: 30vw; /* Responsive width */
    font-size: 3vw; /* Responsive font size */
    z-index: 2;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
    position: relative;
}

button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    /* background: #202020; */
    background: linear-gradient(to right, #0a2030, #104568);
    z-index: -1;
    transition: .3s ease-in all;
}

button:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    /* color: black; */
    background: white;
    z-index: -1;
    transition: .4s .02s ease-in all;
}

button:hover {
    cursor: pointer;
    color:white;
}

button:hover:before {
    left: 100%;
    width: 25%;
}

button:hover:after {
    left: 100%;
    width: 70%;
}
/* #canvas_container{
  width: 100%;
  height: 100vh;} */